@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #f6f6eb;
}

table td, table th {
    vertical-align: middle;
}

.side-info{
    margin: 2vh;
}

.download-icon {
    height: 16px;
}

.under-training {
    width: 40%;
}

.pre-training {
    width: 80%;
}

.table-download{
    margin-top: 16px;
}

.training-form-button {
    margin: 2vh;
}

.parent-player{
    display: flex;
    justify-content: center;
}

.progress-wrapper{
    display: flex;
    flex-direction: column;
}

.twitch-player {
    width: 100%;
    height: 70vh;
}
