@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #f6f6eb;
}

table td, table th {
    vertical-align: middle;
}

.training-form {
    width: 40%;
    margin: 2vh;
}

.training-form-button {
    margin: 2vh;
}

.parent-player{
    display: flex;
}

.progress-wrapper{
    display: flex;
    flex-direction: column;
}

.twitch-player {
    width: 100%;
    height: 70vh;
}
